version: '3.8'

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: payload_user
      POSTGRES_PASSWORD: payload_password
      POSTGRES_DB: tebita_portfolio
    ports:
      - '5433:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
